/* Check out different colors here: https://www.materialpalette.com/ */

.box {
  min-height: 100px;
  width: 100%;
}

.white {
	  background-color: #fff;
	  min-height:25px;
}

.light_green {
  background-color: #2a457a;
   width: 25%;
 height:40vh;
  display: inline-block;

}

.yellow {
  background-color: #099dd9;
   width: 15%;
 height:40vh;
  display: inline-block;

}

.green {
  background-color: #0c8542;
   width: 15%;
 height:40vh;
  display: inline-block;

}

.red { 
  background-color: #FF0000;
  width: 35%;
 height:40vh;
  display: inline-block;
}

