/* Check out different colors here: https://www.materialpalette.com/ */

.box {
  min-height: 100px;
  width: 100%;
}

.white {
	  background-color: #F8F8FF;
	  min-height:25px;
}

.pink {
  background-color: #C71585;
   width: 25%;
 height:40vh;
 display: inline-block;

}

.darkblue {
 background-color: #099dd9;
 width: 25%;
 height:40vh;
 display: inline-block;

}

.green {
 background-color: #0c8542;
 width: 30%;
 height:40vh;
 display: inline-block;

}

.red { 
 background-color: #FF0000;
 width: 35%;
 height:40vh;
 display: inline-block;
}
 .orange{ 
 background-color: #FF8C00;
 width: 45%;
 height:40vh;
 display: inline-block;
}

